<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xana.thetttecommunityquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ttte_icon_quiz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/redGiant">
        <activity
            android:name=".homepageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/redGiant.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selection"
            android:label="@string/title_activity_selection"
            android:screenOrientation="portrait"
            android:theme="@style/redGiant.NoActionBar" />
        <activity
            android:name=".quizscreen"
            android:label="@string/title_activity_quizscreen"
            android:screenOrientation="portrait"
            android:theme="@style/redGiant.NoActionBar" />
        <activity
            android:name=".selectdiff"
            android:label="@string/title_activity_selectdiff"
            android:screenOrientation="portrait"
            android:theme="@style/redGiant.NoActionBar" />
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait"
            android:theme="@style/redGiant.NoActionBar" />
        <activity
            android:name=".answerspage"
            android:label="@string/title_activity_answerspage"
            android:screenOrientation="portrait"
            android:theme="@style/redGiant.NoActionBar"></activity>
    </application>

</manifest>
